<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
    <h2>RESTful Consumer - AngularJS</h2>

    <div>
        <input ng-model="form.email" placeholder="Email address"><br>
        <input ng-model="form.fullname" placeholder="Email address"><br>
        <input ng-model="form.marks" placeholder="Email address"><br>
        <input ng-model="form.gender" ng-value="true" type="radio"> Male
        <input ng-model="form.gender" ng-value="false" type="radio"> Female<br>
        <select ng-model="form.country">
            <option value="VN">Việt Nam</option>
            <option value="USA">Mỹ</option>
        </select>
        <hr/>
        <button ng-click="create()">Create</button>
        <button ng-click="update()">Edit</button>
        <button ng-click="delete()">Delete</button>
    </div>

    <table style="width: 100" border="1">
        <tr>
            <th>Email</th>
            <th>Full name</th>
            <th>Marks</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Action</th>
        </tr>

        <tr ng-repeat="(key, stu) in items">
            <td>{{stu.email}}</td>
            <td>{{stu.fullname}}</td>
            <td>{{stu.marks}}</td>
            <td>{{stu.gender?'Male':'Female'}}</td>
            <td>{{stu.country}}</td>
            <td>
                <button ng-click="edit(key)">Edit</button>
                <button ng-click="delete(key)">Delete</button>
            </td>
        </tr>
    </table>
    <script src="demo-ctrl.js"></script>
</body>
</html>